.header {
  width: 100%;
  position: relative !important;
  float: left;
}

nav a div.logo {
  background-image: url('../../../../assets/logo/logo.png');
  height: 40px;
  width: 40px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 5px 8px;
}

.server:hover {
  cursor: pointer;
  background-color: #f8f9fa !important;
}

.dropdown-item:hover {
  background-color: #343a40 !important;
  color: white !important;
}
