<div class="main">

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/']" routerLinkActive="router-link-active">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Task List</li>
  </ol>
  <!-- Display data in tables -->
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">#Id</th>
        <th scope="col">Task Id</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks;let i = index"
          [ngClass]="{
      'table-warning': task.status=='To Do',
      'table-light': task.status=='In Progress',
      'table-success': task.status=='Done',
      'selected': selectedTask!=null && selectedTask.id==task.id
      }"
          (click)="selectTask(task)">
        <th scope="row">{{i+1}}</th>
        <td>{{task.taskId}}</td>
        <td>{{task.title}}</td>
        <td>{{task.status}}</td>
      </tr>
    </tbody>

    <!--<tbody>
      <tr *ngFor="let task of tasks;let i = index"
          [ngClass]="{
      'bg-warning': task.status=='To Do',
      'bg-info': task.status=='In Progress',
      'bg-success': task.status=='Done',
      'bg-primary text-light': selectedTask!=null && selectedTask.id==task.id
      }"
          (click)="selectTask(task)">
        <th scope="row">{{i+1}}</th>
        <td class="text-light" [ngClass]="{'bg-warning text-dark': task.status=='To Do',
          'bg-info': task.status=='In Progress',
          'bg-success': task.status=='Done',
          'selected': selectedTask!=null && selectedTask.id==task.id}">
          {{task.taskId}}
        </td>
        <td class="text-light" [ngClass]="{'bg-warning text-dark': task.status=='To Do',
          'bg-info': task.status=='In Progress',
          'bg-success': task.status=='Done',
          'selected': selectedTask!=null && selectedTask.id==task.id}">
          {{task.title}}
        </td>
        <td class="text-light" [ngClass]="{'bg-warning text-dark': task.status=='To Do',
          'bg-info': task.status=='In Progress',
          'bg-success': task.status=='Done',
          'selected': selectedTask!=null && selectedTask.id==task.id}">
          {{task.status}}
        </td>
      </tr>
    </tbody>-->

  </table>
</div>
