<div class="text-center">
  <form class="form-signin">
    <img class="mb-4 logo" src="../assets/logo/logo.png" alt="">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>

    <!--User Id.-->
    <label for="id" class="sr-only">Email address</label>
    <input name="id" type="text" id="id" class="form-control"
           [(ngModel)]="userId"
           placeholder="User Id" required="" autofocus="">

    <!--Password.-->
    <label for="pwd" class="sr-only">Password</label>
    <input name="pwd" type="password" id="pwd" class="form-control"
           [(ngModel)]="password"
           placeholder="Password" required="">

    <div class="error" *ngIf="errorMessage !=''" hidden>
      <span>{{errorMessage}}</span>
    </div>

    <!--Remember.-->
    <div class="checkbox mb-3" hidden>
      <label>
        <input type="checkbox" value="remember-me"> Remember Me
      </label>
    </div>

    <!--Login.-->
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="doLogin()">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
</div>
